# Preprocessing for Machine Learning

In [2]:
import pandas as pd

## Download the data

In [7]:
# Dictionary with dataset names as keys and URLs as values
dataset_urls = {
    'hiking': 'https://assets.datacamp.com/production/repositories/1816/datasets/4f26c48451bdbf73db8a58e226cd3d6b45cf7bb5/hiking.json',
    'wine': 'https://assets.datacamp.com/production/repositories/1816/datasets/9bd5350dfdb481e0f94eeef6acf2663452a8ef8b/wine_types.csv',
    'ufo':'https://assets.datacamp.com/production/repositories/1816/datasets/a5ebfe5d2ed194f2668867603b563963af4769e9/ufo_sightings_large.csv',
    'volunteer':'https://assets.datacamp.com/production/repositories/1816/datasets/668b96955d8b252aa8439c7602d516634e3f015e/volunteer_opportunities.csv'
}

def fetch_data_and_create_dataframe(dataset_urls):
    dataframes = {}  # Dictionary to store DataFrames

    for dataset, url in dataset_urls.items():
        try:
            # Determine file format based on the dataset name
            file_format = 'json' if dataset == 'hiking' else 'csv'
            
            # Read the data from the URL into a DataFrame
            if file_format == 'json':
                df = pd.read_json(url)
            else:
                df = pd.read_csv(url)

            dataframes[dataset] = df
            print(f"Successfully fetched {dataset} data.")
        except Exception as e:
            print(f"Error fetching {dataset} data: {str(e)}")

    return dataframes

# Call the function with your dataset URLs
fetched_dataframes = fetch_data_and_create_dataframe(dataset_urls)

# Now 'resulting_dataframes' is a dictionary where keys are dataset names and values are DataFrames
# You can access each DataFrame using, for example, fetched_dataframes['hiking']

Successfully fetched hiking data.
Successfully fetched wine data.
Successfully fetched ufo data.
Successfully fetched volunteer data.

In [11]:
# Display the hiking dataset
hiking = fetched_dataframes['hiking']
display(hiking.head())

,Prop_ID,Name,Location,Park_Name,Length,Difficulty,Other_Details,Accessible,Limited_Access,lat,lon
0,B057,Salt Marsh Nature Trail,"Enter behind the Salt Marsh Nature Center, loc...",Marine Park,0.8 miles,None,<p>The first half of this mile-long trail foll...,Y,N,NaN,NaN
1,B073,Lullwater,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,1.0 mile,Easy,Explore the Lullwater to see how nature thrive...,N,N,NaN,NaN
2,B073,Midwood,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.75 miles,Easy,Step back in time with a walk through Brooklyn...,N,N,NaN,NaN
3,B073,Peninsula,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.5 miles,Easy,Discover how the Peninsula has changed over th...,N,N,NaN,NaN
4,B073,Waterfall,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.5 miles,Easy,Trace the source of the Lake on the Waterfall ...,N,N,NaN,NaN

## Exploring with pandas

In [14]:
# Number of records with missing values
print(hiking.info())

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, 0 to 32
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Prop_ID         33 non-null     object
 1   Name            33 non-null     object
 2   Location        33 non-null     object
 3   Park_Name       33 non-null     object
 4   Length          29 non-null     object
 5   Difficulty      27 non-null     object
 6   Other_Details   31 non-null     object
 7   Accessible      33 non-null     object
 8   Limited_Access  33 non-null     object
 9   lat             0 non-null      float64
 10  lon             0 non-null      float64
dtypes: float64(2), object(9)
memory usage: 3.1+ KB
None

In [15]:
# Summary statistics
print(fetched_dataframes['wine'].describe())

             Type     Alcohol  Malic acid         Ash  Alcalinity of ash  \
count  178.000000  178.000000  178.000000  178.000000         178.000000
mean     1.938202   13.000618    2.336348    2.366517          19.494944
std      0.775035    0.811827    1.117146    0.274344           3.339564
min      1.000000   11.030000    0.740000    1.360000          10.600000
25%      1.000000   12.362500    1.602500    2.210000          17.200000
50%      2.000000   13.050000    1.865000    2.360000          19.500000
75%      3.000000   13.677500    3.082500    2.557500          21.500000
max      3.000000   14.830000    5.800000    3.230000          30.000000

        Magnesium  Total phenols  Flavanoids  Nonflavanoid phenols  \
count  178.000000     178.000000  178.000000            178.000000
mean    99.741573       2.295112    2.029270              0.361854
std     14.282484       0.625851    0.998859              0.124453
min     70.000000       0.980000    0.340000              0.130000
25%     88.000000       1.742500    1.205000              0.270000
50%     98.000000       2.355000    2.135000              0.340000
75%    107.000000       2.800000    2.875000              0.437500
max    162.000000       3.880000    5.080000              0.660000

       Proanthocyanins  Color intensity         Hue  \
count       178.000000       178.000000  178.000000
mean          1.590899         5.058090    0.957449
std           0.572359         2.318286    0.228572
min           0.410000         1.280000    0.480000
25%           1.250000         3.220000    0.782500
50%           1.555000         4.690000    0.965000
75%           1.950000         6.200000    1.120000
max           3.580000        13.000000    1.710000

       OD280/OD315 of diluted wines      Proline
count                    178.000000   178.000000
mean                       2.611685   746.893258
std                        0.709990   314.907474
min                        1.270000   278.000000
25%                        1.937500   500.500000
50%                        2.780000   673.500000
75%                        3.170000   985.000000
max                        4.000000  1680.000000